
/* PROJECT PAGE*/
.ProjectPage {
    position: fixed;
    background: #2b303a;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
h3 {
    margin-top: 20px;
    margin-left: 20px;
    letter-spacing: 3px;
    color: #57c4e5;
    font-family: roboto;
    font-weight: 500;
    font-size: 41.17px;
}
p {
    color: #f9f7f3;;
}
li {
    color: #f9f7f3;;

}
.ProjectPage_sidePane {
    position: fixed;
    margin-left: 105px;
    width:450px;
}
.ProjectPage h1 {
    margin-top: 111px;
    margin-left:0;
    letter-spacing: 8px;
    color: #57c4e5;
    font-family: roboto;
    font-weight: 700;
    font-size: 97.03px;
}

.ProjectPage h3 {
    margin-top: 20px;
    margin-left:0;
    color: #57c4e5;
    font-family: roboto;
    font-weight: 300;
    font-size: 24px;
}

.ProjectPage h2 {
    color: #57c4e5;
    font-family: roboto;
    font-weight: 300;
    font-size: 24px;
}


.ProjectPage .Link {
    margin-top: 20px;
    color: #fff;
    font-family: roboto;
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
}
.markdown_view {
animation: fadeIn ease 0.3s;
-webkit-animation: fadeIn ease 0.3s;
-moz-animation: fadeIn ease 0.3s;
-o-animation: fadeIn ease 0.3s;
-ms-animation: fadeIn ease 0.3s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
    }
.BackButton {
    background-color: #f97068;
    margin: auto;
    display: block;
    border: 0;
    border-radius: 50%;
    padding: 10px;
    width: 80px;
    height: 80px;
    margin-top: 100px;
    transition: all 0.5s;
}
.BackButton:hover {
    background-color: #57c4e5;
}
.IconBackButton {
color: #f9f7f3;
}
.ProjectPage_mainPane {
margin-left: 40%;
width: 50%;
height: 100%;
overflow: hidden;
}
.ProjectPage_mainPane:-webkit-scrollbar {
    display: none;
    }

.ProjectPage_mainPane_article {
width: 100%;
height: 100%;
overflow-y: scroll;
padding-right: 17px;
box-sizing: content-box;
-ms-overflow-style: none;
}
.ProjectPage_mainPane_article:-webkit-scrollbar {
display: none;
}

.ProjectPage .markdown_view {
margin-bottom: 200px;
}
.ProjectPage img {
margin-top: 50px;
padding: 5px;
width: 100%;
}
.img_placeholder {
margin-top: 200px;
padding: 5px;
width: 100%;
}
.Link a {
color: #fff;
text-decoration: none;
}

@media (max-width: 1400px) {
    .ProjectPage {
        display: flex;
        flex-flow: column;
        height: 100%;
    }
    .ProjectPage_sidePane {
        position: relative;
        align-content: center;
        width: auto;
        margin-left: 0;
    }

    .ProjectPage h1 {
        text-align: center;
        font-size: 50px;
        margin: 0;
        margin-top: 20px;
    }

    .ProjectPage h3 {
        text-align: center;
        margin: 0;
        letter-spacing: 1px;
        font-size: 20px;
        margin-top: 10px;
    }
    .ProjectPage .Link {
        text-align: center;
        margin: 0;
        margin-top: 10px;
        font-size: 17px;
    }

    .ProjectPage img {
        margin-top: 50px;
    }
    .ProjectPage_mainPane {
        padding-top: 10px;
        width: 90%;
        margin: auto;

    }
    .BackButton {
        display: unset;
        position: fixed;
        bottom: 40px;
        left: 40px;
        height: 70px;
        width: 70px;
        box-shadow: 0px 0px 10px #222;
    }
    .BackButton:hover {
        bottom: 35px;
        left: 35px;
        height: 80px;
        width: 80px;
    }
}
