.ProjectBar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 70px;
  box-sizing: border-box;
}

.Project_inside {
  background: #2b303a;
  box-shadow: 0px 0px 51px #aaa;
  width: 400px;
  height: 350px;
  will-change: transform;
  justify-content: center;
}
.Project {
  padding: 5px;
  flex: auto;
  flex: 1 1 30%;
  display: flex;
  justify-content: center;
  width: 800px;
  height: 450px;
}
.Description {
  color: #fff;
  font-family: roboto;
  font-weight: 100;
  margin-left: 30px;
  margin-top: 100px;
  font-size: 24px;
}

@media (max-width: 850px) {
  .Project_inside {
    box-shadow: 0px 0px 0px #aaa;
    width: 100%;
  }
  .Project {
    width: 90%;
    margin: 10%;
    display: inline-block;
    height: 300px;
  }
  .Description {
    color: #fff;
    font-family: roboto;
    font-weight: 100;
    margin-left: 30px;
    margin-top: 100px;
    font-size: 24px;
  }
}

.projectanim-enter {
  clip-path: circle(0%);
}
.projectanim-enter-active {
  clip-path: circle(100%);
  transition: clip-path 300ms;
}
.projectanim-exit {
  opacity: 1;
  clip-path: circle(100%);
  transition: clip-path 300ms;
}
.projectanim-exit-active {
  opacity: 0;
  clip-path: circle(0%);
  transition: opacity 1s clip-path 1s;
}
