.App {
  font-family: roboto;
  margin: 0px;
  height: 100%;
}
body {
  margin: 0;
}
.hello {
  margin-left: 109px;
  margin-top: 104px;
}
.my-name {
  margin: 0px;
  background: #000;
  display: inline-block;
}
.my-name_text {
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  letter-spacing: 3px;
  font-family: roboto;
  font-weight: 500;
  font-size: 73.48px;
}
h1 {
  font-family: roboto;
  font-weight: 100;
  font-size: 73.91px;
  margin: 0px;
}

h2 {
  color: #fff;
  font-weight: 200;
}
.ProfilePanel {
  display: inline-block;
  margin-top: 100px;
  width: 100%;
  background-color: #3e5c76;
}
.ProfilePanel_SidePane {
  float: left;
  margin-left: 200px;
}
.ProfilePanel_MainPane {
  float: right;
  margin-right: 250px;
}
.ProfilePanel_Title {
  margin-top: 70px;
  color: #fff;
  font-family: roboto;
  font-weight: 100;
  font-size: 60px;
}
.ProfilePanel_Description {
  margin-top: 50px;
  margin-left: 30px;
  color: #fff;
  font-family: roboto;
  font-weight: 100;
  font-size: 30px;
}

.img_profile {
  margin: 50px;
  border-radius: 50%;
  width: 350px;
}

@media (max-width: 1400px) {
  .ProfilePanel {
    display: inline-block;
    margin-top: 100px;
    width: 100%;
    background-color: #3e5c76;
  }
  .ProfilePanel_SidePane {
    float: 0;
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }
  .ProfilePanel_MainPane {
    float: 0;
    width: 100%;
    margin: auto;
  }
  .ProfilePanel_Title {
    text-align: center;
    font-size: 40px;
  }
  .ProfilePanel_Description {
    margin: 10px;
    margin-top: 50px;
    font-size: 23px;
    text-align: center;
    margin-bottom: 20px;
  }

  .img_profile {
    display: block;
    margin: auto;
    border-radius: 50%;
  }
}
.ProjectBar {
  position: relative;
  margin-top: 100px;
  box-sizing: border-box;
}

.Project_inside {
  background: #2e294e;
  box-shadow: 0px 0px 51px #aaa;

  width: 400px;
  height: 350px;
  will-change: transform;
}
.Project {
  padding: 5px;
  margin-left: 167px;
  margin-bottom: 167px;

  margin-right: 0px;
  display: inline-block;

  width: 400px;
  height: 350px;
}
.Description {
  color: #fff;
  font-family: roboto;
  font-weight: 100;
  margin-left: 30px;
  margin-top: 100px;
  font-size: 24px;
}

@media (max-width: 1200px) {
  .hello {
    text-align: center;
    margin-left: 0;
  }
  .ProjectBar {
    text-align: center;
    margin-left: 0;
  }
  .Project {
    text-align: left;
    margin-left: 0;
    margin-right: 167px;
  }
}
@media (max-width: 850px) {
  h1 {
    font-size: 50px;
  }
  .my-name_text {
    font-size: 50px;
  }

  h2 {
    color: #fff;
    font-weight: 200;
  }

  .ProjectBar {
    text-align: center;
    margin-top: 50px;
  }

  .Project_inside {
    background: #2e294e;
    box-shadow: 0px 0px 51px #aaa;
    width: 100%;

    will-change: transform;
  }
  .Project {
    padding: 5px;
    width: 90%;
    margin-bottom: 20%;

    margin-right: 0px;
    display: inline-block;

    height: 350px;
  }
  .Description {
    color: #fff;
    font-family: roboto;
    font-weight: 100;
    margin-left: 30px;
    margin-top: 100px;
    font-size: 24px;
  }
}
/* PROJECT PAGE*/
.ProjectPage {
  position: absolute;
  background: #2e294e;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h3 {
  margin-top: 20px;
  margin-left: 20px;
  letter-spacing: 3px;
  color: #fff;
  font-family: roboto;
  font-weight: 500;
  font-size: 41.17px;
}
p {
  color: #aff;
}

.ProjectPage_sidePane {
  position: fixed;
  margin-left: 105px;
}
.ProjectPage_Name {
  margin-top: 111px;

  letter-spacing: 8px;
  color: #fff;
  font-family: roboto;
  font-weight: 700;
  font-size: 97.03px;
}

.ProjectPage_Description {
  margin-top: 20px;
  margin-left: 30px;
  color: #fff;
  font-family: roboto;
  font-weight: 100;
  font-size: 24px;
}

.ProjectPage_Link {
  margin-top: 20px;
  margin-left: 30px;
  color: #fff;
  font-family: roboto;
  font-style: italic;
  font-weight: 100;
  font-size: 24px;
}
.ProjectPage_mainPane {
  margin-left: 40%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.ProjectPage_mainPane_article {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}
.img_project {
  margin-top: 50px;
  padding: 5px;
  width: 100%;
}
.img_placeholder {
  margin-top: 200px;
  padding: 5px;
  width: 100%;
}

@media (max-width: 1400px) {
  .ProjectPage_sidePane {
    position: relative;
    align-content: center;
    width: auto;
    margin-left: 10%;
  }

  .ProjectPage_Name {
    text-align: center;
    font-size: 50px;
    margin: 0;
  }

  .ProjectPage_Description {
    text-align: center;
    margin: 0;
    font-size: 17px;
  }
  .ProjectPage_Link {
    text-align: center;
    margin: 0;
    font-size: 17px;
  }
  .img_placeholder {
    margin-top: 50px;
  }
  .ProjectPage_mainPane {
    height: 80%;
    width: 80%;
    margin: auto;
  }
}

.projectanim-enter {
  opacity: 0;
  transform: scale(0.7);
}
.projectanim-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.projectanim-exit {
  opacity: 1;
}
.projectanim-exit-active {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 300ms, transform 300ms;
}
