.App {
  font-family: roboto;
  margin: 0px;
  height: 100%;
}
body {
  margin: 0;
}

.hello {
  margin-left: 109px;
  margin-top: 104px;
}
.my-name {
  margin: 0px;
  background-color: #2b303a;
  display: inline-block;
}
.hello h1 {
  font-family: roboto;
  font-weight: 100;
  font-size: 73.91px;
  margin: 0px;
}
.my-name h1 {
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  letter-spacing: 3px;
  font-family: roboto;
  font-weight: 500;
  font-size: 73.48px;
}

h2 {
  color: #fff;
  font-weight: 200;
}
.ProfilePanel {
  display: inline-flex;
  margin-top: 100px;
  width: 100%;
  background-color: #f97068;
}
.ProfilePanel_SidePane {
  margin-left: 10%;
}
.ProfilePanel_MainPane {
  margin-bottom: 200px;
  margin-left: 100px;
}
.ProfilePanel h2 {
  margin-top: 70px;
  color: #fff;
  font-family: roboto;
  font-weight: 100;
  font-size: 60px;
}
.ProfilePanel p {
  margin-top: 50px;
  margin-left: 30px;
  color: #fff;
  font-family: roboto;
  font-weight: 100;
  font-size: 30px;
}

.ProfilePanel img {
  margin: 50px;
  border-radius: 50%;
  width: 350px;
}

@media (max-width: 1000px) {
  .hello {
    margin-left: 0px;
    margin-top: 50px;
  }
  .my-name {
    margin: 0px;
    margin-bottom: -30px;
    background: #2b303a;
    display: absolute;
  }
  .ProfilePanel {
    display: inline-block;
    margin-top: 0px;
    width: 100%;
  }
  .ProfilePanel_SidePane {
    float: 0;
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }
  .ProfilePanel_MainPane {
    float: 0;
    width: 100%;
    margin: auto;
  }
  .ProfilePanel h2 {
    text-align: center;
    font-size: 40px;
  }
  .ProfilePanel p {
    margin: 10px;
    margin-top: 50px;
    font-size: 23px;
    text-align: center;
    margin-bottom: 20px;
  }

  .ProfilePanel img {
    display: block;
    margin: auto;
    border-radius: 50%;
  }
}
.ProjectBar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 70px;
  box-sizing: border-box;
}

.Project_inside {
  background: #2b303a;
  box-shadow: 0px 0px 51px #aaa;
  width: 400px;
  height: 350px;
  will-change: transform;
  justify-content: center;
}
.Project {
  padding: 5px;
  flex: auto;
  flex: 1 1 30%;
  display: flex;
  justify-content: center;
  width: 800px;
  height: 450px;
}
.Description {
  color: #fff;
  font-family: roboto;
  font-weight: 100;
  margin-left: 30px;
  margin-top: 100px;
  font-size: 24px;
}

@media (max-width: 1200px) {
  .hello {
    text-align: center;
    margin-left: 0;
  }
  .hello h1 {
    font-size: 40px;
  }
  .my-name h1 {
    font-size: 42px;
  }
}
@media (max-width: 850px) {
  h1 {
    font-size: 50px;
  }
  .my-name_text {
    font-size: 50px;
  }

  h2 {
    color: #fff;
    font-weight: 200;
  }

  .Project_inside {
    box-shadow: 0px 0px 0px #aaa;
    width: 100%;
  }
  .Project {
    width: 90%;
    margin: 10%;
    display: inline-block;
    height: 300px;
  }
  .Description {
    color: #fff;
    font-family: roboto;
    font-weight: 100;
    margin-left: 30px;
    margin-top: 100px;
    font-size: 24px;
  }
}
/* PROJECT PAGE*/
.ProjectPage {
  position: fixed;
  background: #2b303a;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h3 {
  margin-top: 20px;
  margin-left: 20px;
  letter-spacing: 3px;
  color: #57c4e5;
  font-family: roboto;
  font-weight: 500;
  font-size: 41.17px;
}
p {
  color: #aff;
}

.ProjectPage_sidePane {
  position: fixed;
  margin-left: 105px;
}
.ProjectPage h1 {
  margin-top: 111px;
  letter-spacing: 8px;
  color: #57c4e5;
  font-family: roboto;
  font-weight: 700;
  font-size: 97.03px;
}

.ProjectPage h3 {
  margin-top: 20px;
  margin-left: 30px;
  color: #57c4e5;
  font-family: roboto;
  font-weight: 100;
  font-size: 24px;
}

.ProjectPage .Link {
  margin-top: 20px;
  margin-left: 30px;
  color: #fff;
  font-family: roboto;
  font-style: italic;
  font-weight: 100;
  font-size: 24px;
}

.BackButton {
  background-color: #f97068;
  margin: auto;
  display: block;
  border: 0;
  border-radius: 50%;
  padding: 10px;
  width: 100px;
  margin-top: 100px;
  transition: all 0.5s;
}
.BackButton:hover {
  background-color: #57c4e5;
}
.IconBackButton {
  color: #f9f7f3;
}
.ProjectPage_mainPane {
  margin-left: 40%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.ProjectPage_mainPane_article {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.ProjectPage .markdown_view {
  margin-bottom: 200px;
}
.ProjectPage img {
  margin-top: 50px;
  padding: 5px;
  width: 100%;
}
.img_placeholder {
  margin-top: 200px;
  padding: 5px;
  width: 100%;
}
.Link a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1400px) {
  .ProjectPage {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  .ProjectPage_sidePane {
    position: relative;
    align-content: center;
    width: auto;
    margin-left: 0;
  }

  .ProjectPage h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    margin-top: 20px;
  }

  .ProjectPage h3 {
    text-align: center;
    margin: 0;
    font-size: 17px;

    margin-top: 20px;
  }
  .ProjectPage .Link {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    font-size: 17px;
  }

  .ProjectPage img {
    margin-top: 50px;
  }
  .ProjectPage_mainPane {
    padding-top: 10px;
    width: 90%;
    margin: auto;
  }

  .BackButton {
    display: unset;
    position: fixed;
    bottom: 40px;
    left: 40px;
    height: 70px;
    width: 70px;
    box-shadow: 0px 0px 10px #222;
  }
  .BackButton:hover {
    bottom: 35px;
    left: 35px;
    height: 80px;
    width: 80px;
  }
}

.projectanim-enter {
  clip-path: circle(0%);
}
.projectanim-enter-active {
  clip-path: circle(100%);
  transition: clip-path 300ms;
}
.projectanim-exit {
  opacity: 1;
  clip-path: circle(100%);
  transition: clip-path 300ms;
}
.projectanim-exit-active {
  opacity: 0;
  clip-path: circle(0%);
  transition: opacity 1s clip-path 1s;
}

.Footer {
  text-align: center;
  padding: 50px;
  background-color: #3e5c76;
}
.Footer a {
  color: #aff;
  font-weight: 100;
  text-decoration: none;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 25px;
}
.Footer a:hover {
  color: #fff;
}

@media (max-width: 850px) {
  .Footer {
    text-align: center;
    padding: 10px;
  }
  .Footer a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
  }
}
